<br>
<form method="post">
  {% csrf_token %}
  {% for field in pw_form %}
        <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
            <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
  {% endfor %}
  <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
  <input class="button is-info is-light is-rounded is-medium is-focused"
                                                           name="change_password" type="submit" value="Change password"></a>
</form>