.map{
    width: 450px;
    height: 300px;
    overflow: auto;
    margin: 20px;
}

#logo{
    width:150px;
}

nav{
    background-color: transparent;
}

.navbar{
    background-color: transparent;
}

.navbar-item{

}

html {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

input {
    margin: 10px;
    padding: 20px;
    width: 350px;

}
#delete_action{
    width:auto;
    visibility:hidden;
}

tr:hover {
  background: #f2f3ff;
  outline: none;
  cursor: pointer;
}

td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
#tableWrapper{
    overflow-y: auto;
    overflow-x: auto;
    height: 500px;
    width:500px;
    margin-top:20px;
    margin-bottom: 30px;
}
#burger-menu{
    background-color: transparent;
}
#loc-info{
    margin: 15px;
    padding: 10px;
}
#open_session{
    display: none;
}
.wrapper{
    padding:7px;
    margin:7px;
}
#start_index{
    display:none;
}
#id_cookies_consent{
    width:20px;
}
#mycopyright{
    margin:20px;
}
